#theme{
	width: 100%;
    height: 80%;
	background-color: white;
	position: absolute;
	top: 90px;
}
.content{
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}
.pic1 img{
	width: 70px;
	height: 70px;
	float: left;
	padding: 5px;
}
.character{
	width: 80%;
	line-height: 15px;
	padding: 17px;
}
.dextral{
	position: absolute;
	right: 15px;
	top: 13px;
}
.content1{
	width: 100%;
	height: 60px;
	background-color: white;
	position: relative;
}
.pic2 img{
	width: 30px;
	height: 30px;
	float: left;
	padding-left: 15px;
	padding-top: 10px;
}
.character1{
	width: 80%;
	line-height: 10px;
	padding: 20px;
}